#drum-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

#display {
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

.pads {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
}

.drum-pad {
  background: #444;
  border: 1px solid #555;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.drum-pad:hover {
  background: #666;
}
